@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1250px ;
    margin: 0 auto;
    
}

header {
    width: 100% ;
    height: 100% ;
    background: url('../img/bg-banner.svg') no-repeat ;
    background-position: center ;
    border: 0.1px solid whitesmoke;

}

nav {
    /*padding: 2rem;*/
    height: 80px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 280px;
    justify-content: space-between;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
    font-size: 17px;
}

.logo {
    color: #FFF;
    text-align: center;
}

.logo h1 {
    color: #FFF;
    font-size: 25px;
}

.header-info {
    margin: 62px auto;
    width: 770px;
    /*border: 1px solid red;*/
    text-align: center;
}

.header-info h1 {
    font-size: 50px;
    color: white;
}
.header-info h2 {
    font-size: 40px;
    color: white;
}

.header-info p {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    line-height: 25px;
}

.header-btn {
    margin: 30px auto;
    width: 170px;
    height: 40;
    align-items: center;
    color:black;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    padding: .5rem 1.5rem;
}

.header-btn:hover {
    background: gainsboro;
}

.header-btn a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.str p{
    color: white;
}
.landuse-con {
    display: flex;
    justify-content: space-between;
}

.land-info{
    padding: 2rem;
    margin-top: 200px;
    width: 550px;
    
}
.land-title {
    font-size: 30px;
    font-family: Inter;
}
.land-p {
    margin-top: 30px;
    font-size: 19px;
}

.ld-report{
    margin-top: 100px;
    height: 500px;
    border: 5px solid black;
    border-radius: 4px; 
    
}

.res-report{
    width: 700px; 
    height: 486px ;
}

.ana-info {
    margin-top: 100px ;
    
}
.ana-title {
    font-size: 30px;
    text-align: center;
}
.ana-p {
    margin-top: 30px;
    font-size: 19px;
    text-align: center;
    
}
.ana-report{
    width: 1034px;
    height: 622px;
    margin: 20px auto;
    background-color: #777;
    border: 5px solid black;
    border-radius: 4px;
}

.res-anareport {
    width: 1024px ; 
    height: 612px ; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h1 {
    margin: 1;
}

.footer-section p {
    font-size: 14px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

/* เพิ่มไอคอน FontAwesome */
.footer-section a i {
    font-size: 24px;
}


@media screen and (max-width: 1230px){
    .container {
        width: 80% ;
        margin: 0 auto;
    }

    .landuse-con {
        display: flex;
        justify-content: space-between;
    }
    
    .land-info{
        padding: 2rem;
        margin-top: 170px;
        width: 550px;
        
    }
    .land-title {
        font-size: 23px;
        font-family: Inter;
    }
    .land-p {
        margin-top: 30px;
        font-size: 19px;
    }
    
    .ld-report{
        margin-top: 100px;
        height: 460px;
        border: 5px solid black;
        border-radius: 4px; 
        
    }
    
    .res-report{
        width: 620px; 
        height: 450px ;
    }

    .ana-info {
        margin-top: 100px ;
        
    }
    .ana-title {
        font-size: 23px;
        text-align: center;
    }
    .ana-p {
        margin-top: 30px;
        font-size: 19px;
        text-align: center;
        
    }
    .ana-report{
        width: 960px;
        height: 622px;
        margin: 20px auto;
        background-color: #777;
        border: 5px solid black;
        border-radius: 4px;
    }
    
    .res-anareport {
        width: 950px ; 
        height: 612px ; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 80%; 
    }

    header {
        width: 100% ;
        height: 100% ;
        border: 0.1px solid whitesmoke;
    
    }

    .header-info {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        /*border: 1px solid red;*/
        text-align: center;
    }
    
    .header-info h1 {
        font-size: 27px;
        color: white;
    }

    .header-info h2 {
        font-size: 17px;
        color: white;
    }
    
    .header-info p {
        font-size: 17px;
        color: white;
        margin-top: 20px;
        line-height: 25px;
    }
    
    .header-btn {
        margin: 30px auto;
        width: 170px;
        height: 40;
        align-items: center;
        color:black;
        background: white;
        border-radius: 5px;
        text-decoration: none;
        padding: .5rem 1.5rem;
    }
    
    

    .landuse-con {
        display: flex;
        justify-content: space-between;
    }
    
    .land-info{
        padding-right: 2rem;
        margin: 0 auto;
        margin-top: 50px;
        width: 550px;
        
    }
    .land-title {
        font-size: 20px;
        font-family: Inter;
    }
    .land-p {
        margin-top: 15px;
        font-size: 14px;
    }
    
    .ld-report{
        margin-top: 70px;
        margin-right: 20px;
        width: 400;
        height: 280px;
        border: 5px solid black;
        border-radius: 4px; 
        
    }
    
    .res-report{
        width: 400px; 
        height: 270px ;
    }

    .ana-info {
        margin-top: 100px ;
        
    }
    .ana-title {
        font-size: 20px;
        text-align: center;
    }
    .ana-p {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        
    }
    .ana-report{
        width: 550px;
        height: 330px;
        margin: 20px auto;
        background-color: #777;
        border: 5px solid black;
        border-radius: 4px;
    }
    
    .res-anareport {
        width: 540px ; 
        height: 320px ; 
    }

    .footer-section h1 {
        margin: 1;
        font-size: 20px;
    }
    
    .footer-section p {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        width: 95%; /* Adjust width for mobile */
    }
    header {
        width: 100% ;
        height: 100% ;
        border: 0.1px solid whitesmoke;
    
    }

    .header-info {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        /*border: 1px solid red;*/
        text-align: center;
    }
    
    .header-info h1 {
        font-size: 27px;
        color: white;
    }

    .header-info h2 {
        font-size: 17px;
        color: white;
    }
    
    .header-info p {
        font-size: 17px;
        color: white;
        margin-top: 20px;
        line-height: 25px;
    }
    
    .header-btn {
        margin: 30px auto;
        width: 170px;
        height: 40;
        align-items: center;
        color:black;
        background: white;
        border-radius: 5px;
        text-decoration: none;
        padding: .5rem 1.5rem;
    }
    
    

    .landuse-con {
        display: flex;
        justify-content: space-between;
    }
    
    .land-info{
        padding-right: 2rem;
        margin: 0 auto;
        margin-top: 50px;
        width: 550px;
        
    }
    .land-title {
        font-size: 20px;
        font-family: Inter;
    }
    .land-p {
        margin-top: 15px;
        font-size: 14px;
    }
    
    .ld-report{
        margin-top: 70px;
        margin-right: 20px;
        width: 400;
        height: 280px;
        border: 5px solid black;
        border-radius: 4px; 
        
    }
    
    .res-report{
        width: 400px; 
        height: 270px ;
    }

    .ana-info {
        margin-top: 100px ;
        
    }
    .ana-title {
        font-size: 20px;
        text-align: center;
    }
    .ana-p {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        
    }
    .ana-report{
        width: 550px;
        height: 330px;
        margin: 20px auto;
        background-color: #777;
        border: 5px solid black;
        border-radius: 4px;
    }
    
    .res-anareport {
        width: 540px ; 
        height: 320px ; 
    }

    .footer-section h1 {
        margin: 1;
        font-size: 20px;
    }
    
    .footer-section p {
        font-size: 12px;
    }
}
